*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.main-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}
.text-box{
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background-color: white;
    color:black;
    height:4vh;
    width:25vw;
    margin-left: 31%;
    margin-top: 10%;
    border-radius: 10px;
}
.text{
    border-radius: 10px;
    border: none;
    height:4vh;
    width:20vw;
}
.row1{
    display: flex;
    margin-top: 5vh;
    margin-left: 31vw;
    
}

.btn1{
    margin-right: 3vw;
    background-color: #9F9F9F;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}
.btn2{
    margin-right: 3vw;
    background-color: #9F9F9F;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}
.btn3{
    margin-right: 3vw;
    background-color: #9F9F9F;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}
.btn4{
    margin-right: 3vw;
    background-color: #F39A08;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}
.row2{
    display: flex;
    margin-top: 5vh;
    margin-left: 31vw;
    
    
}
.btn5{
    margin-right: 3vw;
    background-color: #313131;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}
.btn6{
    margin-right: 3vw;
    background-color: #313131;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}

.btn7{
    margin-right: 3vw;
    background-color: #313131;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}

.btn8{
    margin-right: 3vw;
    background-color: #F39A08;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}
.row3{
    display: flex;
    margin-top: 5vh;
    margin-left: 31vw;
    
}
.btn9{
    margin-right: 3vw;
    background-color: #313131;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}

.btn10{
    margin-right: 3vw;
    background-color: #313131;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}

.btn11{
    margin-right: 3vw;
    background-color: #313131;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}
.btn12{
    margin-right: 3vw;
    background-color: #F39A08;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}
.row4{
    display: flex;
    margin-top: 5vh;
    margin-left: 31vw;
    
}
.btn13{
    margin-right: 3vw;
    background-color: #313131;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}
.btn14{
    margin-right: 3vw;
    background-color: #313131;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}
.btn15{
    margin-right: 3vw;
    background-color: #313131;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}
.btn16{
    margin-right: 3vw;
    background-color: #F39A08;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}
.row5{
    display: flex;
    margin-top: 5vh;
    margin-left: 31vw;
    
}
.btn17{
    margin-right: 3vw;
    background-color: #313131;
    color:white;
    height: 8vh;
    width:11vw;
    border-radius: 50%;
    border: none;
}
.btn18{
    margin-right: 3vw;
    background-color: #313131;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}
.btn19{
    margin-right: 3vw;
    background-color: #F39A08;
    color:white;
    height: 7vh;
    width:4vw;
    border-radius: 50%;
    border: none;
}

@media only screen and (min-width: 100px) and (max-width: 599px) {
    /* For small screens: */
    .btn1, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7, .btn8, .btn9, .btn10, .btn11, .btn12, .btn13, .btn14, .btn15, .btn16, .btn17, .btn18, .btn19 {
        height: 9vh;
        width: 15vw;
    } 
    .text {
        width: 60vw; /* Adjusted to fit better on smaller screens */
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    /* For tablets: */
    .btn1, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7, .btn8, .btn9, .btn10, .btn11, .btn12, .btn13, .btn14, .btn15, .btn16, .btn17, .btn18, .btn19 {
        height: 9vh;
        width: 12vw;
    }
    .text {
        width: 50vw; /* Adjusted to fit better on tablets */
    }
    
}
